:root {
   --terminalgreen: greenyellow;
   --dark: rgb(1, 53, 1);
   --overlay: rgba(1, 53, 1, 0.7);
}

/* I was clearly going for old school monochrome terminal, but now I can't unsee "Mount Olive pickle jar" */

* {
   font-family: 'Courier New', Courier, monospace;
   color: var(--terminalgreen);
}

body {
   background-color: var(--dark);
   color: var(--terminalgreen);
}

header {
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: fit-content;
   background-color: var(--terminalgreen);
}

header div {
   max-width: 700px;
   margin: 0 auto;
   display:flex;
   justify-content: space-between;
}

header h1 {
   margin:0.25rem 0;
   color: var(--dark);
   font-size: 1.25rem;
}

header #clock {
   background-color: var(--dark);
   font-size: 1.25rem;
   padding: 0 1rem;
   margin:0.25rem 0;
   display:none;
}

#intro, #quiz, #highscores {
   max-width: 700px;
   margin: 5rem auto;
}

#intro {
   /* display: none; */
}

#quiz {
   display: none;
}

#intro button {
   border: 4px solid var(--terminalgreen);
   background-color: rgb(1, 53, 1);
   color: var(--terminalgreen);
   padding: 0.5rem;
   margin: 1rem auto;
   font-weight: bold;
   font-size:larger;
}

#intro button:hover, #highscores button:hover {
   /* color: rgb(1, 53, 1);
   background-color: greenyellow; */
   box-shadow: 6px 6px 0 var(--terminalgreen);
}

#quiz h2 {
   text-align: center;
}

#quiz button {
   border: 2px solid var(--terminalgreen);
   background-color: var(--dark);
   color: var(--terminalgreen);
   font-weight: bold;
   padding: 0.5rem;
}

#quiz button:hover {
   /* color: rgb(1, 53, 1);
   background-color: greenyellow; */
   box-shadow: 6px 6px 0 var(--terminalgreen);

}

#choices {
   display: flex;
   width: fit-content;
   flex-wrap: wrap;
   gap: 1rem;
}


.footnote {
   margin-top:5rem;
   border-top: 1px solid var(--terminalgreen);
   padding-top:1rem;
   font-size: smaller;
}


/* HIGH SCORES */
#highscores {
   display:none;
   text-align: center;
}

#highscores h2 {
   text-align: center;
}

#highscores table {
   width: 100%;
}

#highscores table td {
   border-bottom: 1px dashed var(--terminalgreen);
}


#highscores table td:first-child {
   text-align: left;
}

#highscores table td:last-child {
   text-align: right;
}

#highscores button {
   border: 4px solid var(--terminalgreen);
   background-color: rgb(1, 53, 1);
   color: var(--terminalgreen);
   padding: 0.5rem;
   margin: 2rem auto;
   font-weight: bold;
   font-size:larger;
}

/* MODAL */
#modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: var(--overlay);
   z-index: 3;
   display: none;
}

#collectName {
   background-color: var(--dark);
   border: 4px solid var(--terminalgreen);
   margin-left: auto;
   margin-right: auto;
   padding: 1.5rem;
   width: fit-content;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

#gameOverMsg {
   background-color: var(--terminalgreen);
   color:var(--dark);
   top:0;
   left:0;
   width:calc(100% + 1.5rem);
   margin: -1.5rem 0 0 -1.5rem;
   padding-left: 1.5rem;
   font-size: 1rem;
}

#modaltext {
   font-size: 1rem;
}

#modal input {
   background-color: transparent;
   border: 2px solid var(--terminalgreen);
   color: var(--terminalgreen);
   padding: 0.5rem;
}

#modal input:focus {
   box-shadow: 0 6px 0 var(--terminalgreen);
   outline: none;
}

#modal button {
   border: 2px solid var(--terminalgreen);
   background-color: var(--dark);
   color: var(--terminalgreen);
   font-weight: bold;
   padding: 0.5rem;
}

#modal button:hover {
   box-shadow: 6px 6px 0 var(--terminalgreen);
}


@media screen and (max-width: 650px) {
   #choices button {
      flex-basis: calc(50% - 0.5rem);
   }
 }

 @media screen and (max-width: 360px) {
   #choices button {
      flex-basis: 100%;
   }
 }