* {
   font-family: 'Courier New', Courier, monospace;
   color: greenyellow;
}

body {
   background-color: rgb(1, 53, 1);
   color: greenyellow;
}

header {
   text-align: center;
}

#intro, #quiz, #highscores {
   max-width: 700px;
   margin: 0 auto;
}

#intro {
   /* display: none; */
}

#quiz {
   display: none;
}

#intro button {
   border: 4px solid greenyellow;
   background-color: rgb(1, 53, 1);
   color: greenyellow;
   padding: 0.5rem;
   margin: 1rem auto;
   font-weight: bold;
   font-size:larger;
}

#intro button:hover {
   /* color: rgb(1, 53, 1);
   background-color: greenyellow; */
   box-shadow: 6px 6px 0 greenyellow;
}

#quiz h2 {
   text-align: center;
}

#quiz button {
   border: 2px solid greenyellow;
   background-color: rgb(1, 53, 1);
   color: greenyellow;
   font-weight: bold;
   padding: 0.5rem;
}

#quiz button:hover {
   /* color: rgb(1, 53, 1);
   background-color: greenyellow; */
   box-shadow: 6px 6px 0 greenyellow;

}

#choices {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}

.footnote {
   margin-top:5rem;
   border-top: 1px solid greenyellow;
   padding-top:1rem;
   font-size: smaller;
}


/* HIGH SCORES */
#highscores {
   display:none;
}

#highscores h2 {
   text-align: center;
}

#highscores table {
   width: 100%;
}

#highscores table td {
   border-bottom: 1px dashed greenyellow;
}


#highscores table td:first-child {
   text-align: left;
}

#highscores table td:last-child {
   text-align: right;
}

/* MODAL */
#modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(1, 53, 1, 0.7);
   z-index: 3;
   display: none;
}

#collectName {
   background-color: rgb(1, 53, 1);
   border: 4px solid greenyellow;
   margin-left: auto;
   margin-right: auto;
   padding: 1.5rem;
   width: fit-content;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

#gameOverMsg {
   background-color: greenyellow;
   color:rgb(1, 53, 1);
   top:0;
   left:0;
   width:calc(100% + 1.5rem);
   margin: -1.5rem 0 0 -1.5rem;
   padding-left: 1.5rem;
   font-size: 1rem;
}

#modaltext {
   font-size: 1rem;
}

#modal input {
   background-color: transparent;
   border: 2px solid greenyellow;
   color: greenyellow;
   padding: 0.5rem;
}

#modal input:focus {
   box-shadow: 0 6px 0 greenyellow;
   outline: none;
}

#modal button {
   border: 2px solid greenyellow;
   background-color: rgb(1, 53, 1);
   color: greenyellow;
   font-weight: bold;
   padding: 0.5rem;
}

#modal button:hover {
   box-shadow: 6px 6px 0 greenyellow;
}


@media screen and (max-width: 650px) {
   #choices button {
      flex-basis: calc(50% - 0.5rem);
   }
 }

 @media screen and (max-width: 360px) {
   #choices button {
      flex-basis: 100%;
   }
 }